---
import IconMenu from "./IconMenu.astro";
import IconClose from "./IconClose.astro";
import { drawer } from "@kb/data";
---

<button class="btn" id="toggle-drawer">
  <IconMenu className="icon" color="currentColor" size={32} />
</button>
<aside aria-hidden="true" aria-modal="false" class="is-close" id="drawer">
  <button class="btn" id="close-drawer">
    <IconClose className="icon" color="currentColor" size={32} />
  </button>
  <nav class="content-drawer">
    {
      drawer.map((menu) => (
        <a href={menu.slug} class="menu">
          {menu.name}
        </a>
      ))
    }
  </nav>
</aside>
<div aria-hidden="true" class="is-hidden" id="backdrop" tabindex="-1"></div>

<script>
  const drawer = document.getElementById("drawer");
  const backdrop = document.getElementById("backdrop");
  const toggle = document.getElementById("toggle-drawer");
  const closeBtn = document.getElementById("close-drawer");

  const btnState = document.createElement("span");
  btnState.setAttribute("class", "sr-only");
  btnState.textContent = "Open drawer";
  toggle?.appendChild(btnState);

  function openDrawer() {
    drawer?.classList.remove("is-close");
    drawer?.classList.add("is-open");
    drawer?.setAttribute("aria-hidden", "false");
    drawer?.setAttribute("aria-modal", "true");
    toggle?.removeEventListener("click", openDrawer);
    toggle?.addEventListener("click", closeDrawer);
    closeBtn?.addEventListener("click", closeDrawer);
    backdrop?.addEventListener("click", closeDrawer);
    backdrop?.classList.remove("is-hidden");
    backdrop?.classList.add("is-visible");
    backdrop?.setAttribute("aria-hidden", "false");
    backdrop?.setAttribute("tabindex", "0");
    btnState.textContent = "Close drawer";
  }

  function closeDrawer() {
    drawer?.classList.remove("is-open");
    drawer?.classList.add("is-close");
    drawer?.setAttribute("aria-hidden", "true");
    drawer?.setAttribute("aria-modal", "false");
    toggle?.removeEventListener("click", closeDrawer);
    toggle?.addEventListener("click", openDrawer);
    closeBtn?.focus();
    closeBtn?.removeEventListener("click", closeDrawer);
    backdrop?.removeEventListener("click", closeDrawer);
    backdrop?.classList.remove("is-visible");
    backdrop?.classList.add("is-hidden");
    backdrop?.setAttribute("aria-hidden", "true");
    backdrop?.setAttribute("tabindex", "-1");
    btnState.textContent = "Open drawer";
  }

  toggle?.addEventListener("click", openDrawer);
</script>
