---
import IconCircle from "./IconCircle.astro";
import { menu } from "@kb/data";
---

<header class="navbar">
  <a href="/" class="logo" tabindex="-1">
    <IconCircle className="icon" light="#4EC0ED" dark="#0074E0" size={32} />
    <span class="sr-only">Astro</span>
  </a>
  <nav class="links">
    {
      menu.map((item) =>
        Astro.url.pathname === item.slug ? (
          <a href={item.slug} class="link" aria-current="page">
            {item.name}
          </a>
        ) : (
          <a href={item.slug} class="link">
            {item.name}
          </a>
        ),
      )
    }
  </nav>
</header>
