---
import BaseLayout from "~/components/BaseLayout.astro";
import { errorNotice } from "@repo/data";
---

<BaseLayout title={errorNotice.name}>
  <article>
    <h1>{errorNotice.name}</h1>
    <p><a href="/" class="button">{errorNotice.text}</a></p>
  </article>
</BaseLayout>
