---
import BaseLayout from "~/components/BaseLayout.astro";
---

<BaseLayout title="Get Started">
  <article>
    <h1>Get Started with Astro</h1>
    <p>Create a new project with npm</p>
    <pre><code><span class="gray">npm </span><span class="white">create astro@latest</span></code></pre>
    <p>Learn more about:</p>
    <ul>
      <li>
        <a
          class="docs"
          href="https://docs.astro.build/en/basics/project-structure/"
          target="_blank"
        >
          Project Structure
        </a>
      </li>
    </ul>
  </article>
</BaseLayout>
