---
const current = new Date();
const text = "Current date:";
---

<footer class="info">
  <p class="date">
    {text}
    <time class="iso" datetime={current.toISOString()}>{current.toString()}</time>
  </p>
</footer>
